.panel{
    background-color: #fff;
    padding: 0 1em;
    opacity: .75;
    margin: 1em 5%;
}

#header{
    text-shadow: -1px -1px 0 #444,
                1px -1px 0 #444,
                -1px 1px 0 #444,
                 1px 1px 0 #444;
    /* simulates a light text stroke in all browsers */

    color: #ddd;
    letter-spacing: .25em;
    margin-left: 5%;
}

body{
    background-image: url("./background_nasa_1600_black50_blur.jpg");
    background-size: cover;
}